* {
    margin: 0;
    padding: 0;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
}

.header {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-family: fantasy;
    font-size: x-large;
    color: white;
}

.galeria {
    margin: 10px;
    display: flex;
    position: relative;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imagen-galeria {
    width: 300px;
    height: 200px;
}