h1 {
    color: red;
    font-size: 4rem;
}

p {
    color: black;
    font-size:  2rem;
}

/* @media screen  and (max-width: 576px){  Se cumplen los estilos siempre y cuando se mantenga el tamaño establecido de la pantalla 
    h1 {
        color: yellow;

    }
} */

/* @media print{ Cmabia las propiedades para cuando se vaya a imprimir 
    h1 {
        color: black;
    }
} */

@media (max-width: 576px){
    h1{
        color: black;
    }
}

@media (min-width: 995px){
    h1 {
        color: yellowgreen;
    }
}